<h1>Edit <%= @movie.title %></h1>

<%= form_tag(movie_url(@movie.id), :method => :patch) do %>
  <div>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="<%= @movie.title %>"></input>
  </div>
  <div>
    <label for="year">Year:</label>
    <input type="text" name="year" id="year" value="<%= @movie.year %>"></input>
  </div>
  <div>
    <label for="duration">Duration:</label>
    <input type="text" name="duration" id="duration" value="<%= @movie.duration %>"></input>
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input type="text" name="image_url" id="image_url" value="<%= @movie.image_url %>"></input>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea type="text" name="description" id="description" value="<%= @movie.description %>"></textarea>
  </div>
  <div>
    <input type="submit">
  </div>
<% end %>

