<%= link_to new_movie_url do%>
  Add new movie
<% end %>

<%= @movie.each do |movies| %>

  <h1><%= movies.title %></h1>

  <%= image_tag movies.image_url, :class => "img-responsive" %>

  <h3><%= movies.year %>, <%= movies.duration %> min.</h3>
  <h4><%= movies.description %></h4>

  <%= link_to movie_url(movies.id) do%>
    Show |
  <% end %>
  <%= link_to edit_movie_url(movies.id) do%>
    Edit |
  <% end %>
  <%= link_to movie_url(movies.id), :method => :delete do%>
    Delete
  <% end %>

<% end %>
